[Desktop Entry]
Encoding=UTF-8
Name=Link to android-support-v4.jar
Type=Link
URL=file:///home/tomer/Downloads/android-support-v4.jar
Icon=application-x-java-archive
